{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">OLX</a>
    </div>
    {% if  request.user.is_superuser %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="home/pending">Pending</a></li>
    </ul>
    {% endif %}
    {% if request.user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="home/upload">Upload</a></li>
    </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
      	<li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {% else %}
      	<li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      	<li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-offset-1"></div>
		<div class="col-sm-5 col-md-offset-1">
		{% load crispy_forms_tags %}
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}	
			<button type="submit">Submit</button>
		</form>
		<a href="/login"><h6>already have an account?</h6></a>
		</div>
		<div class="col-sm-2 col-md-offset-1"></div>
	</div>
</div>

</div>
</body>
</html>
